<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mapper.SalaryOutsourcingReserveFundMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.biz.salary.entity.SalaryOutsourcingReserveFund">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="sysOrgCode" column="sys_org_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="idCardNo" column="id_card_no" jdbcType="VARCHAR"/>
            <result property="personalAccount" column="personal_account" jdbcType="VARCHAR"/>
            <result property="personalAccountStatus" column="personal_account_status" jdbcType="VARCHAR"/>
            <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
            <result property="payToDate" column="pay_to_date" jdbcType="VARCHAR"/>
            <result property="personalDepositBase" column="personal_deposit_base" jdbcType="DOUBLE"/>
            <result property="totalMonthlyDeposits" column="total_monthly_deposits" jdbcType="DOUBLE"/>
            <result property="individualDepositRatio" column="individual_deposit_ratio" jdbcType="DOUBLE"/>
            <result property="companyDepositRatio" column="company_deposit_ratio" jdbcType="DOUBLE"/>
            <result property="personalMonthlyDeposit" column="personal_monthly_deposit" jdbcType="DOUBLE"/>
            <result property="companyMonthlyDeposit" column="company_monthly_deposit" jdbcType="DOUBLE"/>
            <result property="accountBalance" column="account_balance" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        update_by,update_time,sys_org_code,
        name,id_card_no,personal_account,
        personal_account_status,telephone,pay_to_date,
        personal_deposit_base,total_monthly_deposits,individual_deposit_ratio,
        company_deposit_ratio,personal_monthly_deposit,company_monthly_deposit,
        account_balance
    </sql>
</mapper>
