<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SalaryInternTotalMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.biz.salary.entity.SalaryInternTotal">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="sysOrgCode" column="sys_org_code" jdbcType="VARCHAR"/>
            <result property="bankNo" column="bank_no" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
            <result property="entryTime" column="entry_time" jdbcType="TIMESTAMP"/>
            <result property="houseSubsidy" column="house_subsidy" jdbcType="DOUBLE"/>
            <result property="internSubsidy" column="intern_subsidy" jdbcType="DOUBLE"/>
            <result property="merit" column="merit" jdbcType="DOUBLE"/>
            <result property="nightFoodSubsidy" column="night_food_subsidy" jdbcType="DOUBLE"/>
            <result property="jianrenbujianzi" column="jianrenbujianzi" jdbcType="DOUBLE"/>
            <result property="highTemper" column="high_temper" jdbcType="DOUBLE"/>
            <result property="onDutySubsidy" column="on_duty_subsidy" jdbcType="DOUBLE"/>
            <result property="jobSubsidy" column="job_subsidy" jdbcType="DOUBLE"/>
            <result property="jianxSubsidy" column="jianx_subsidy" jdbcType="DOUBLE"/>
            <result property="otherSubsidy" column="other_subsidy" jdbcType="DOUBLE"/>
            <result property="otheDeduct" column="othe_deduct" jdbcType="DOUBLE"/>
            <result property="checkingInDeduct" column="checking_in_deduct" jdbcType="DOUBLE"/>
            <result property="total" column="total" jdbcType="DOUBLE"/>
            <result property="specialDeduction" column="special_deduction" jdbcType="DOUBLE"/>
            <result property="shouldTax" column="should_tax" jdbcType="DOUBLE"/>
            <result property="readyDeductTax" column="ready_deduct_tax" jdbcType="DOUBLE"/>
            <result property="realSalary" column="real_salary" jdbcType="DOUBLE"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="post" column="post" jdbcType="DOUBLE"/>
            <result property="duty" column="duty" jdbcType="DOUBLE"/>
            <result property="safety" column="safety" jdbcType="DOUBLE"/>
            <result property="deduct" column="deduct" jdbcType="DOUBLE"/>
            <result property="additionOtherTotal" column="addition_other_total" jdbcType="DOUBLE"/>
            <result property="taxPersonal" column="tax_personal" jdbcType="DOUBLE"/>
            <result property="injuryCompany" column="injury_company" jdbcType="DOUBLE"/>
            <result property="overtime" column="overtime" jdbcType="DOUBLE"/>
            <result property="addtionPay" column="addtion_pay" jdbcType="DOUBLE"/>
            <result property="isJiaotongBank" column="is_jiaotong_bank" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        update_by,update_time,sys_org_code,
        bank_no,name,department,
        entry_time,house_subsidy,intern_subsidy,
        merit,night_food_subsidy,jianrenbujianzi,
        high_temper,on_duty_subsidy,job_subsidy,
        jianx_subsidy,other_subsidy,othe_deduct,
        checking_in_deduct,total,special_deduction,
        should_tax,ready_deduct_tax,real_salary,
        remark,post,duty,
        safety,deduct,addition_other_total,
        tax_personal,injury_company,overtime,
        addtion_pay,is_jiaotong_bank
    </sql>
</mapper>
