<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SalaryOutsourcingSocialFundMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.biz.salary.entity.SalaryOutsourcingSocialFund">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="sysOrgCode" column="sys_org_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="idCardNo" column="id_card_no" jdbcType="VARCHAR"/>
            <result property="idCardType" column="id_card_type" jdbcType="VARCHAR"/>
            <result property="personalSocialNo" column="personal_social_no" jdbcType="VARCHAR"/>
            <result property="priceStartTime" column="price_start_time" jdbcType="VARCHAR"/>
            <result property="priceEndTime" column="price_end_time" jdbcType="VARCHAR"/>
            <result property="loseJobCompanyPaymentBase" column="lose_job_company_payment_base" jdbcType="DOUBLE"/>
            <result property="loseJobCompanyPament" column="lose_job_company_pament" jdbcType="DOUBLE"/>
            <result property="injuryCompanyPaymentBase" column="injury_company_payment_base" jdbcType="DOUBLE"/>
            <result property="injuryPament" column="injury_pament" jdbcType="DOUBLE"/>
            <result property="companyPamentTotal" column="company_pament_total" jdbcType="DOUBLE"/>
            <result property="personalPamentTotal" column="personal_pament_total" jdbcType="DOUBLE"/>
            <result property="pamentTotal" column="pament_total" jdbcType="DOUBLE"/>
            <result property="agedCompanyPaymentBase" column="aged_company_payment_base" jdbcType="DOUBLE"/>
            <result property="agedCompanyPament" column="aged_company_pament" jdbcType="DOUBLE"/>
            <result property="companyPamentBase" column="company_pament_base" jdbcType="DOUBLE"/>
            <result property="companyPament" column="company_pament" jdbcType="DOUBLE"/>
            <result property="retireCompanyPamentBase" column="retire_company_pament_base" jdbcType="DOUBLE"/>
            <result property="retireCompanyPament" column="retire_company_pament" jdbcType="DOUBLE"/>
            <result property="personalPamentBase" column="personal_pament_base" jdbcType="DOUBLE"/>
            <result property="personalPament" column="personal_pament" jdbcType="DOUBLE"/>
            <result property="loseJobPersonalPaymentBase" column="lose_job_personal_payment_base" jdbcType="DOUBLE"/>
            <result property="loseJobPersonalPayment" column="lose_job_personal_payment" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        update_by,update_time,sys_org_code,
        name,id_card_no,id_card_type,
        personal_social_no,price_start_time,price_end_time,
        lose_job_company_payment_base,lose_job_company_pament,injury_company_payment_base,
        injury_pament,company_pament_total,personal_pament_total,
        pament_total,aged_company_payment_base,aged_company_pament,
        company_pament_base,company_pament,retire_company_pament_base,
        retire_company_pament,personal_pament_base,personal_pament,
        lose_job_personal_payment_base,lose_job_personal_payment
    </sql>
</mapper>
