<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SalaryCentralReportMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.biz.salary.entity.SalaryCentralReport">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="sysOrgCode" column="sys_org_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="yearMerit" column="year_merit" jdbcType="DOUBLE"/>
            <result property="post" column="post" jdbcType="DOUBLE"/>
            <result property="merit" column="merit" jdbcType="DOUBLE"/>
            <result property="duty" column="duty" jdbcType="DOUBLE"/>
            <result property="highTemper" column="high_temper" jdbcType="DOUBLE"/>
            <result property="safety" column="safety" jdbcType="DOUBLE"/>
            <result property="additionOtherTotal" column="addition_other_total" jdbcType="DOUBLE"/>
            <result property="additionOther" column="addition_other" jdbcType="DOUBLE"/>
            <result property="deduct" column="deduct" jdbcType="DOUBLE"/>
            <result property="checkingInDeduct" column="checking_in_deduct" jdbcType="DOUBLE"/>
            <result property="yearEnd" column="year_end" jdbcType="DOUBLE"/>
            <result property="economicCompensation" column="economic_compensation" jdbcType="DOUBLE"/>
            <result property="reservePersonalFund" column="reserve_personal_fund" jdbcType="DOUBLE"/>
            <result property="egedPersonal" column="eged_personal" jdbcType="DOUBLE"/>
            <result property="loseJobPersonal" column="lose_job_personal" jdbcType="DOUBLE"/>
            <result property="medicalPersonal" column="medical_personal" jdbcType="DOUBLE"/>
            <result property="enterpriseAnnuityPersonal" column="enterprise_annuity_personal" jdbcType="DOUBLE"/>
            <result property="reserveCompanyFund" column="reserve_company_fund" jdbcType="DOUBLE"/>
            <result property="egedCompany" column="eged_company" jdbcType="DOUBLE"/>
            <result property="loseJobCompany" column="lose_job_company" jdbcType="DOUBLE"/>
            <result property="medicalCompany" column="medical_company" jdbcType="DOUBLE"/>
            <result property="injuryCompany" column="injury_company" jdbcType="DOUBLE"/>
            <result property="addtionMedicalCompany" column="addtion_medical_company" jdbcType="DOUBLE"/>
            <result property="enterpriseAnnuityCompany" column="enterprise_annuity_company" jdbcType="DOUBLE"/>
            <result property="partyPersonal" column="party_personal" jdbcType="DOUBLE"/>
            <result property="house" column="house" jdbcType="DOUBLE"/>
            <result property="taxPersonal" column="tax_personal" jdbcType="DOUBLE"/>
            <result property="holidayWork" column="holiday_work" jdbcType="DOUBLE"/>
            <result property="overtime" column="overtime" jdbcType="DOUBLE"/>
            <result property="floatPay" column="float_pay" jdbcType="DOUBLE"/>
            <result property="addtionTaxTotal" column="addtion_tax_total" jdbcType="DOUBLE"/>
            <result property="addtionPay" column="addtion_pay" jdbcType="DOUBLE"/>
            <result property="floatPayRemark" column="float_pay_remark" jdbcType="DOUBLE"/>
            <result property="addtionTax" column="addtion_tax" jdbcType="DOUBLE"/>
            <result property="deductAfterTax" column="deduct_after_tax" jdbcType="DOUBLE"/>
            <result property="yearPay" column="year_pay" jdbcType="DOUBLE"/>
            <result property="ownerYear" column="owner_year" jdbcType="DOUBLE"/>
            <result property="advanced" column="advanced" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        update_by,update_time,sys_org_code,
        name,year_merit,post,
        merit,duty,high_temper,
        safety,addition_other_total,addition_other,
        deduct,checking_in_deduct,year_end,
        economic_compensation,reserve_personal_fund,eged_personal,
        lose_job_personal,medical_personal,enterprise_annuity_personal,
        reserve_company_fund,eged_company,lose_job_company,
        medical_company,injury_company,addtion_medical_company,
        enterprise_annuity_company,party_personal,house,
        tax_personal,holiday_work,overtime,
        float_pay,addtion_tax_total,addtion_pay,
        float_pay_remark,addtion_tax,deduct_after_tax,
        year_pay,owner_year,advanced
    </sql>
</mapper>
