<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SalaryAdditionMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.biz.salary.entity.SalaryAddition">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="sysOrgCode" column="sys_org_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="idCardNo" column="id_card_no" jdbcType="VARCHAR"/>
            <result property="economicReward" column="economic_reward" jdbcType="DOUBLE"/>
            <result property="housingReformReward" column="housing_reform_reward" jdbcType="DOUBLE"/>
            <result property="highTemperatureReward" column="high_temperature_reward" jdbcType="DOUBLE"/>
            <result property="advancedReward" column="advanced_reward" jdbcType="DOUBLE"/>
            <result property="safetyJobReward" column="safety_job_reward" jdbcType="DOUBLE"/>
            <result property="partyBuildingReward" column="party_building_reward" jdbcType="DOUBLE"/>
            <result property="safetyReward" column="safety_reward" jdbcType="DOUBLE"/>
            <result property="otherReward" column="other_reward" jdbcType="DOUBLE"/>
            <result property="otherDeduct" column="other_deduct" jdbcType="DOUBLE"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        update_by,update_time,sys_org_code,
        name,id_card_no,economic_reward,
        housing_reform_reward,high_temperature_reward,advanced_reward,
        safety_job_reward,party_building_reward,safety_reward,
        other_reward,other_deduct,remark
    </sql>
</mapper>
